{% extends "layout.html" %}

{% block title %}
    Cha-ching!
{% endblock %}

{% block main %}
    <p>Thank you for selling {{ shares }} of {{ name }} stock! Your updated balance is {{ cash }}. </p>

    <pre>
        ／l、
      （ﾟ､ ｡ ７
        l  ~ヽ
        じしf_,)ノ
    </pre>

    <pre>
        /\_/\
         ( o.o )
          > ^ <
    </pre>

    <pre>
        _._     _,-'""`-._
        (,-.`._,'(       |\`-/|
            `-.-' \ )-`( , o o)
                   `-    \`_`"'-
    </pre>

    <pre>
         ^~^  ,
        ('Y') )
        /   \/
       (\|||/)
    </pre>

{% endblock %}
